* {
    box-sizing: border-box;
	font-family: Roboto, SansSerif;
}

.flex-container{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.flex-container > div{
  background-color: #71c48f;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  height: 200px;
}

.item{
    background-color: azure;
    margin: 10px;
    padding: 10px;
    height: auto;
}
    
body {
    font-family: Arial, Helvetica, sans-serif;
	position: relative;
	height: 100%;
}

/* Style the header */
header {
    background-color: #71c48f;
    padding: 30px;
    text-align: left;
    font-size: 35px;
    color: white;
}


/* Style the navigation menu */
nav {
    background: #71c48f;
    padding: 20px;
    justify-content: center;
}

nav:before{
    clear: both;
    content: "";
    display: table;
}

nav .current{
	background-color: #111111;
}

/* Style the list inside the menu */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: #333;
    
}

li {
    float: right;
}
    
li:after{
    clear: both;
    content: "";
    display: table;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

li a:active{
	background-color: #111111;
}

/* Style the content */


/* Style the footer */
footer {
    background-color: #71c48f;
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
    color: white;
	position: absolute;
	width: 100%;
}


logo {
    padding: 30px;
    float: left;
}


logo::after{
    clear: both;
    content: "";
    display: table;
}


.zui-table {
	border: solid 3px #DDEEEE;
	border-collapse: collapse;
	border-spacing: 0;
	font: normal 16px Arial, sans-serif;
	margin: auto;
	margin-top: 20px;
	width: 100%;
}
.zui-table thead th {
	background-color: #DDEFEF;
	border: solid 1px #DDEEEE;
	color: #336B6B;
	padding: 10px;
	text-align: left;
	text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody td {
	border: solid 1px #DDEEEE;
	color: #333;
	padding: 10px;
	text-align: left;
	text-shadow: 1px 1px 1px #fff;
}

tr:hover {background-color: lightblue}

p.bad{
	background-color: red;
	font-size: large;
	font-weight:bold;
	color: white;
	padding: 10px;
}
p.good{
	background-color: green;
	font-size: large;
	font-weight:bold;
	color: white;
	padding: 10px;
}

body {
	background: #eee !important;	
}

.wrapper {	
    margin-top: 40px;
    margin-bottom: 40px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
}

.form-signin-heading,
.checkbox {
	margin-bottom: 30px;
}

.checkbox {
	font-weight: normal;
}

.form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
}

input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

input[type="password"] {
	margin-bottom: 20px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.form-signup {
	max-width: 380px;
	padding: 15px 35px 45px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
}
  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}


.form-enlist {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  

}


.form-signin-heading,
.checkbox {
	margin-bottom: 30px;
}

.checkbox {
	font-weight: normal;
}

.form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
}

input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

input[type="password"] {
	margin-bottom: 20px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}



    